html {
    margin: 0;
    font-family: sans-serif;
    font-size: large;
    color: #ffffff;
}

body {
    margin: 0;
    background-color: #100E0F;
}

header {
    margin: 0;
    align-content: center;
    padding: 0.5rem 10vw;
}

header h3 {
    float: left;
    margin: 0;
}

header section {
    float: right;
    margin: 0;
}

a {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-thickness: 0.09rem;
    text-decoration-color: rgba(0, 0, 0, 0);
    transition: all 0.2s ease;
}

a:hover {
    text-decoration-color: #D39E5A;
}

header section a {
    color: #ffffff;
    margin: 0 1vw;
}

main .sec1 {
    position: relative;
    display: flex;
    justify-content: center;
}

main .sec1 img {
    width: 100%;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xxx-large;
}

main .sec1 h1 {
    position: absolute;
}

.t1 {
    top: 15%;
    font-size: clamp(0.5vw, 3vw, 4vw);
}

.t2 {
    bottom: 6%;
    font-size: clamp(0.5vw, 3vw, 4vw);
}

main button {
    background-color: #D39E5A;
    display: block;
    margin: 0 auto;
    padding: 0.6rem 1.2rem;
    border: none;
    text-align: center;
    cursor: pointer;
    font-family: sans-serif;
    font-size: medium;
    color: #000000;
    transition: all 0.2s ease;
}

main button:hover {
    background-color: #E0BB8C;
}

.buttonLeft {
    float: left;
}

main .sec2 {
    position: relative;
    display: flex;
    padding: 6rem 0 0;
    align-items: center;
}

main .sec2 img {
    width: 50%;
    height: fit-content;
}

main .sec2 div div {
    display: flex;
    align-items: center;
}

main .sec2 div div .linea {
    background-color: #ffffff;
    width: 7vw;
    height: 0.11rem;
    float: left;
    margin-right: 1rem;
}

main .sec3 {
    position: relative;
    display: flex;
    padding: 4rem 0 0;
    align-items: center;
}

main .sec3 .divText {
    width: 60%;
    padding: 0 0 0 8vw;
}

main .sec3 .divImg {
    position: relative;
    display: flex;
    align-items: center;
    width: 40%;
    padding-left: 3vw;
    padding-right: 6vw;
}

main .sec3 div img {
    width: 100%;
    height: fit-content;
}

main .title {
    padding: 3rem;
}

.secCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 0.12rem #D39E5A;
    border-radius: 0.2rem;
    margin: 2rem 4vw 4vw 4vw;
    padding: 2vw 6vw;
    justify-content: center;
}

.card img {
    position: absolute;
    width: 4rem;
    top: 0rem;
    translate: 0 -50%;
}

.card h4 {
    margin: 2.5rem 0;
}

.card p {
    margin: 0.5rem 0;
}

.card button {
    margin-top: 2.5rem;
}

main .linea {
    background-color: #D39E5A;
    width: 30vw;
    height: 0.11rem;
    display: block;
    justify-self: center;
}

.color1 {
    color: #D39E5A;
}

main .us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 6vw 0;
}
main .us div {
    margin: 2vw;
    text-align: center;
}

footer {
    justify-items: center;
}